body {
	font-family: 'Source Sans Pro', sans-serif;
	padding: 0;
	margin: 0;
	font-size: 16px;
}

.header {
	text-align: center;
    background: #ff7b00;
    padding: 1em;
    color: #fff;
    margin-bottom: 2em;
}

.header__title {
	font-size: 2.5em;
}

.container {
	display: flex;
    margin: auto;
    max-width: 1100px;
}

nav {
	width: 25%;
}

main {
	width: 75%;
}

nav h3 {
	font-size: 1.5em;
}


.menu {
	padding: 0;
	margin: 0;
	list-style: none;
}

.menu__item {
	padding: 5px 0;
	position: relative;
    margin-left: 1.5em;
}

.menu__item::before {
	content: '►';
    position: absolute;
    margin-left: -1.5em;
    color: #ff7b00;
}

.post {
	margin: 1em 0;
}

.post__title {
	font-size: 2em;
    color: #444;
    margin-bottom: .5em;
}

.post__time {
	margin-bottom: 1em;
    display: block;
}

.post__content {
	font-size: 19px;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.9);
}

.post__tags {
	display: flex;
	margin-bottom: 2em;
}

.post__tags > div{
    background: rgba(0,0,0,.05);
    border-radius: 2px;
    color: rgba(0,0,0,.68);
	cursor: pointer;
    font-size: 15px;
    margin-right: .75em;
	padding: .4em 1em;
 }

.post__comment {
	margin: 1em 0;
	padding: 1em;
	border: 1px solid #ddd;
	border-radius: 2px;
}

.footer {
	margin-top: 2em;
	padding: 1em;
	background: tomato;
	color: #fff;
}

textarea{
	border: 1px solid rgb(221, 221, 221);
    display: block;
    font-family: inherit;
    font-size: 16px;
    margin-bottom: 1em;
    padding: 1em;
    width: 100%;
}

.btn {
	padding: .5em 1em;
    background: #ddd;
    border: none;
    line-height: 1.5;
    font-size: 1em;
    border-radius: 4px;
    letter-spacing: 0.5px;
}

/* helpers */
.ml-1{
	margin-left: 1em ;
}